style(lang="css").
  .break {
    page-break-before: always;
  }
  .watermark {
    transform: rotate(331deg);
    font-size: 12em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 5, 5, 0.17);
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
    text-align: center;
  }
  .value {
    font-family: mono;
    text-align: right;
  }
  @page {
    @bottom-center{
        content: url(file:///{{ logo_path }});
    }
  }
  #sidebar {
    border-top: 0.25in solid rgb(102, 170, 0);
    color: white;
  }

img(style="width:00px; display:block; margin:0 auto;"
    src="file:///{{ logo_path }}")


#sidebar: p DD-IX Dresden Internet Exchange | ASN Traffic Analysis | {{ ts_from }} &ndash; {{ ts_to }}

p.watermark T e s t

h1 ASN Traffic Analysis

p This report shows the traffic statistics of peers at #[a(href='https://dd-ix.net') DD-IX Dresden Internet Exchange] with notable remote ASN. The analysis covers the time range from #[code {{ ts_from }}] to #[code {{ ts_to }}].

h2 Local ASN

p The following table contains the list of connected ASN at DD-IX which are providing traffic statistics. The coverage value refers to to the evaluation period.

table.ui.celled.table
  thead
    tr
      th ASN
      th Organisation
      th Coverage
  tbody
    each asn, meta in local_asn
        tr
          td {{ asn }}
          td {{ meta.org }}
          td.value {{ meta.coverage }}&thinsp;%

h2 Top Remote ASN

table.ui.celled.table
  thead
    tr
      th ASN
      th Organisation
      th &sum; P95 #[sub in]
      th &sum; P95 #[sub out]
  tbody
    each asn, stats in remote_asn
        tr
          td {{ asn }}
          td {{ stats.org }}
          td.value {{ stats.in_p95_si }}
          td.value {{ stats.out_p95_si }}
