- var title = "Traffic Statistics";

extends base.pug

block content
  h1= title

  p This report shows the traffic statistics of peers at #[a(href='{{ org_url }}') {{ org_name }}] with notable destination ASN. The analysis covers the time range from #[code {{ ts_from }}] to #[code {{ ts_to }}].

  h2 {{ org_slug }} Peers ASN

  p The following list contains all ASNs on which these traffic statistics are based. All ASNs are either a direct peer on #[a(href='https://www.peeringdb.com/ix/4282') {{ org_slug }}] or a direct transit customer of a peer.

  table.ui.celled.table
    thead
      tr
        th ASN
        th Organisation
    tbody
      each asn, meta in local_asn
          tr
            td.value {{ asn }}
            td {{ meta.org }}

  h2 Traffic Savings at {{ org_slug }}

  p Based on the traffic statistics provided by our peers, the following table presents the minimum amount of traffic your ASes listed therein would save by #[a(href='{{ org_url }}/peering') peering directly at {{ org_slug }}].

  table.ui.celled.table
    thead
      tr
        th ASN
        th Organisation
        th P95 #[sub in]
        th P95 #[sub out]
    tbody
      if totals:
        each asn, stats in remote_asn
          tr
            td.value {{ asn }}
            td {{ stats.org }}
            td.value {{ stats.in_p95_si }}
            td.value {{ stats.out_p95_si }}
        tr
          td(colspan="2", style="text-align: right; font-weight: bold") &sum;
          td.total.value {{ totals.in_p95_si }}
          td.total.value {{ totals.out_p95_si }}
      else
        each asn, stats in remote_asn
          tr
            td.value {{ asn }}
            td {{ stats.org }}
            td.total.value {{ stats.in_p95_si }}
            td.total.value {{ stats.out_p95_si }}
